{% extends 'base.html' %}
{% load static %}
{% block login_form %}
<form action="" method="post">
 {% csrf_token %}
 {{ form.errors }}
 <table>
     <tr><td>{{ form.login.label }}{{ form.login }}</td></tr>
     <tr><td>{{ form.password.label }}{{ form.password }}</td></tr>
  </table>
<input type="submit" value="Вход">
</form>
<a href={% url 'users:RegisterNewUser' %}>Регистрация нового пользователя</a>
{% endblock %}
{% block content %}
    <div id="content">

            <div class="details">
                <h3>Облачная АТС</h3>
                <p>Телефонизируйте офис за 5 минут благодаря бесплатной облачной АТС Tis. В вашем распоряжении множество полезных функций - голосовое меню,
				перевод/перехват/переадресация звонков, запись и статистика разговоров, автоответчик. Настроить все эти функции очень легко благодаря понятному
				мастеру настройки в личном кабинете.</br>
				<a href="#">Подробнее...</a></p>
            </div>

            <div class="details">
                <h3>Виртуальные номера</h3>
                <p>Виртуальный номер поможет телефонизировать ваш офис с нуля за считанные минуты. При этом не нужно прокладывать телефонные линии и
				приобретать специальное оборудование. Достаточно лишь подключить номер - на выбор телефонные номера в 90 странах мира, включая номера
				"Toll free", бесплатные для вызова клиентов. Звонки на виртуальный номер можно принимать не только через Интернет, но и переадресовать на
				любой телефон.</br>
				<a href="#">Подробнее...</a></p>
            </div>

            <div class="details">
                <h3>Исходящие звонки</h3>
                <p>Экономьте на телефонных звонках вместе с проектом Zadarma, благодаря нашим оптимальным предложениям: безлимитные тарифы, бесплатные пакеты
				звонков, посекундная тарификация, передача вашего номера при звонке, фирменные приложения для смартфона или компьютера и, конечно, самое
				высокое качество разговора.</br>
				<a href="#">Подробнее...</a></p>
            </div>

            <hr class="cleanit">
        </div>

		        <h3 class="h3prefooter"></h3>
                <div class="plus"><img src='{% static "img/zadarma.png" %}'/></div>

				<div style="text-align:center; font-size:24px; margin-top:50px;  color:#b30000"><b>Оптимизируйте связь прямо сейчас!</b></div>
{% endblock %}